<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fitnesstracker.mapper.UserMapper">

    <insert id="create" parameterType="fitnesstracker.model.User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user (username, password, name, age, weight, height, fitness_goal)
        VALUES (#{username}, #{password}, #{name}, #{age}, #{weight}, #{height}, #{fitnessGoal})
    </insert>

    <select id="findById" resultMap="userResultMap" parameterType="int">
        SELECT * FROM user WHERE user_id = #{userId}
    </select>

    <select id="getAll" resultMap="userResultMap">
        SELECT * FROM user
    </select>

    <update id="update" parameterType="fitnesstracker.model.User">
        UPDATE user
        SET username = #{username}, password = #{password}, name = #{name}, age = #{age}, weight = #{weight}, height = #{height}, fitness_goal = #{fitnessGoal}
        WHERE user_id = #{userId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM user WHERE user_id = #{userId}
    </delete>

    <delete id="deleteAll">
        DELETE FROM user
    </delete>

    <resultMap id="userResultMap" type="fitnesstracker.model.User">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="weight" column="weight"/>
        <result property="height" column="height"/>
        <result property="fitnessGoal" column="fitness_goal"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

</mapper>
